root = true

[*.{dart,md,py,yaml,yml,json,txt,xml,gradle,kts,cmake,swift,h,cc,cpp}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
